.circle-cont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: transparent !important;
}

.circle {
  cursor: pointer;
  border-radius: 100%;
  aspect-ratio: 1;
  border: 0;
  transition: opacity 75ms ease-out;
  opacity: 1;
}

.circle-fade {
  opacity: 0;
}