.game-settings {
  height: 15rem;
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.game-settings .settings-item {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-settings .settings {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  min-width: 50rem;
  background-color: var(--primary-white);
  color: var(--secondary-black);
  border-radius: 5px;
  padding: 1.25em 1.5em;
  box-sizing: border-box;
  margin-right: 10%;
}

.game-settings .settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-settings .header-text {
  font-style: oblique;
  font-size: 1.8em;
  font-weight: 600;
  color: var(--bright-pink);
  margin: 0 0.1em 0;
}

.game-settings .close-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0.75em;
  border: 0;
  border-radius: 100%;
}

.game-settings .close-button:hover {
  background: rgba(214, 74, 128, 0.1);
}

.game-settings .header-close-svg {
  width: 1em;
  fill: var(--bright-pink);
}

.game-settings .break {
  margin: 0.15em 0 0;
  width: 100%;
  border: var(--light-blue) solid 1px;
}

.game-settings .input-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.25em 0;
  padding: 0 0.5em;
}

.game-settings .number {
  display: flex;
}

.game-settings .number-input {
  background: transparent;
  border: 0;
  text-align: center;
  padding: 0 0.25em 0;
}

.game-settings .number-input:focus {
  outline: none;
}

.game-settings .number-input::-webkit-inner-spin-button,
.game-settings .number-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.game-settings .number-arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: transparent;
  border: 0;
  padding: 0;
}

.game-settings .number-arrow .number-polygon {
  height: 15px;
  fill: var(--bright-pink);
}

.game-settings .radio-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

.game-settings .radio-option {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.radio-label {
  margin-right: 0.25em;
}

.game-settings .radio-input {
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  border: var(--grey) solid 2px;
  border-radius: 4px;
}

.game-settings .radio-input::before {
  content: '';
  width: 0.66em;
  height: 0.66em;
  background-color: var(--bright-pink);
  border-radius: 2px;
  margin: 0;
  opacity: 0;
}

.game-settings .radio-input:checked:before {
  opacity: 1;
}

.game-settings .range-input {
  appearance: none;
  height: 0.5em;
  width: 40%;
  margin: 0.5em 0;
  background: var(--lighter-grey);
  border-radius: 10px;
}

.game-settings .range-input::-webkit-slider-thumb {
  appearance: none;
  cursor: grab;
  height: 1em;
  width: 1em;
  background: var(--bright-pink);
  border-radius: 50%;
}

.game-settings .range-input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.game-settings .checkbox-input {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  border: var(--grey) solid 2px;
  border-radius: 4px;
}

.game-settings .checkbox-input::before {
  content: '';
  width: 0.66em;
  height: 0.66em;
  background-color: var(--bright-pink); 
  border-radius: 2px;
  margin: 0;
  opacity: 0;
}

.game-settings .checkbox-input:checked::before {
  opacity: 1;
}






