.canvas {
  position: relative;
  height: 100%;
  width: 100%;
}

.canvas .curr-game-stats {
  float: right;
  margin-right: 1.25em;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  color: var(--secondary-black);
  border-radius: 5px;
  justify-content: center;
  width: 30rem;
  padding: 0.5em 1em;
  box-sizing: border-box;
}

.canvas .game-stats {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 2.5em;
}

.canvas .game-stat-head {
  font-weight: 600;
  font-size: 2rem;
  color: var(--light-pink);
  margin: 0.25em 0;
}

.canvas .game-stat-cont {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0 0.5em;
  width: 30%; 
}

.canvas .game-stat {
  font-size: 1.8rem;
  font-style: normal;
  color: var(--secondary-black);
}

.canvas .game-stat-break {
  margin: 0.15em 0 0;
  width: 100%;
  border: var(--light-blue) solid 1px;
}