.canvas {
  position: relative;
  height: 100%;
  width: 100%;
}

.canvas .score {
  font-size: 2.5rem;
  float: right;
  margin: 1rem 3%;
}


.canvas .end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.canvas .end-screen .score {
  font-size: 3.5em; 
  margin-bottom: 0.75em;
} 

.canvas .end-buttons {
  display: flex;
  gap: 2rem;
}

.canvas .end-button {
  font-size: 1.2em;
  color: var(--secondary-black);
  background-color: var(--primary-white);
}
