.play {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  background: var(--pink2blue-lingrand);
  background-size: 200% 200%;
  animation: gradientBackground 20s ease infinite;
  letter-spacing: 0.03ch;
}

.play .main {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}

.play .play-buttons {
  display: flex;
  gap: 10%;
  margin-top: -5rem;
  transition: all 50ms ease-in;
}

.play .play-buttons-margin {
  margin-top: 0;
}

.play .play-button {
  font-size: 1.2em;
  color: var(--secondary-black);
  background-color: var(--primary-white);
}

.play .end-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play .end-stats .end-score {
  font-size: 3.5em;
  margin-bottom: 0.75em;
}
