.play {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  background: var(--pink2blue-lingrand);
  background-size: 200% 200%;
  animation: gradientBackground 20s ease infinite;
  letter-spacing: 0.03ch;
}

.play .main {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}

.play .scores {
  position: absolute;
  top: 3rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  max-height: 30%;
  width: 20rem;
  background-color: var(--primary-white);
  color: var(--secondary-black);
  border-radius: 5px;
  padding: 0.75em 1.25em;
  box-sizing: border-box;
}

.play .scores-header {
  font-weight: 600;
  font-style: italic;
  margin: 0;
  color: var(--bright-pink);
}

.play .scores-break {
  margin: 0.15em 0 0;
  width: 100%;
  border: var(--light-blue) solid 1px;
}

.play .score-list {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0.25em 0;
  padding: 0;
  list-style: none;
  width: 103%;
}

.play .score-list::-webkit-scrollbar {
  width: 5px;
}

.play .score-list::-webkit-scrollbar-thumb {
  background: var(--light-pink);
}

.play .score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0.3em 0.1em;
  padding: 0 0.4em;
  border-left: var(--light-pink) solid 4px;
  border-radius: 3px;
  height: 1.6em;
}

.play .score .time {
  font-size: 0.8em;
  color: var(--grey);
}

.play .play-buttons {
  display: flex;
  gap: 10%;
  margin-top: -5rem;
  transition: all 50ms ease-in;
}

.play .play-buttons-margin {
  margin-top: 0;
}

.play .play-button {
  font-size: 1.2em;
  color: var(--secondary-black);
  background-color: var(--primary-white);
}

.play .end-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play .end-stats .end-score {
  font-size: 3.5em;
  margin-bottom: 0.75em;
}
