.navbar {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4em;
  height: 7.5rem;
  padding: 0px 2.5rem;
  width: 100%;
}

.navbar-home {
  gap: 0;
}

.navbar .logo-cont {
  display: flex;
  margin-right: auto;
}

.navbar .navbar-logo-svg {
  width: 2.75em;
}

.navbar .navbar-logo-text {
  font-size: 2.25em;
}

.navbar-menu-icon {
  width: 1em;
  margin-left: auto;
}

.navbar .nav-list {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  flex: 1;
  min-width: 46rem;
  margin: 0;
  margin-right: auto;
  list-style: none;
  gap: 8rem;
}

.navbar .nav-list-home {
  flex: 0.6;
  margin: 0 0 0 auto;
}

.navbar .nav-item:last-child,
.navbar .dropdown-button {
  margin-left: auto;
}

.navbar .nav-link,
.navbar .nav-link:visited {
  cursor: pointer;
  color: var(--primary-white);
  text-decoration: none;
}

.navbar .nav-link-active,
.navbar .nav-link span {
  position: relative;
  display: block;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.navbar .nav-link-active::after,
.navbar .nav-link .not-active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 150%;
  bottom: -4px;
  left: -4px;
  border-bottom: solid 2px var(--primary-white);
  transition: right 150ms ease-out;
}

.navbar .nav-link-active::after,
.navbar .nav-link:hover .not-active::after {
  right: -4px;
}

.navbar .not-active-hovered .nav-link-active::after {
  right: 150%;
}

.navbar .dropdown-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  border: 0;
  height: 4em;
  width: 4.5em;
}

.navbar .dropdown-arrow {
  fill: var(--primary-white);
  width: 0.45em;
  transform: rotate(-90deg);
}

.navbar .nav-profile {
  fill: var(--primary-white);
  width: 2.5em;
}

.navbar .nav-dropdown {
  font-size: 1.1em;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 6.3rem;
  right: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  background: var(--primary-white);
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 0.2em !important;
}

.navbar .dropdown-nav-link {
  text-decoration: none;
}

.navbar .dropdown-nav-item {
  font-size: 1em;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--secondary-black);
  box-sizing: border-box;
  margin: 0.1em 0;
  padding: 0.2em 0.6em 0.2em 2.4em;
  background-color: transparent;
  border-right: 4px var(--light-pink) solid;
  border-radius: 4px;
  width: 100%;
}

.navbar .dropdown-nav-item:hover {
  background-color: var(--lighter-grey);
}

.navbar .menu-button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0.75em;
  border: 0;
  border-radius: 100%;
  transition: all 200ms ease;
  margin-left: auto;
}

.navbar .menu-svg {
  stroke-width: 3px;
  stroke-linecap: round;
  width: 1.8em;
  height: 1.8em;
}

.navbar .menu-svg-open {
  stroke: var(--light-pink); 
}

.navbar .menu-svg-closed {
  stroke: var(--secondary-white); 
}

.navbar .mobile-navbar {
  position: absolute;
  z-index: 1;
  top: -0.2em;
  right: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2em;
  overflow: hidden;
  width: 10em;
  border-radius: 5px;
  background-color: var(--primary-white);
  color: var(--secondary-black);
  list-style: none;
}

.navbar .mobile-nav-item {
  font-size: 1.4em;
  padding: 0 0.6em 0 1em;
}

.navbar .mobile-nav-item:first-child {
  margin-top: 2.2em;
}

.navbar .mobile-nav-item:last-child {
  margin-bottom: 0.5em;
}

.navbar .mobile-nav-link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    gap: 2em;
  }

  .navbar .nav-list {
    gap: 4em;
    padding: 0;
    min-width: 0;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 0 1em 0 1.4em;
  }
  
  .navbar .nav-list {
    gap: 2em;
  }

  .navbar .nav-dropdown {
    right: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    padding: 0 6px 0 12px;
  }
  
  .navbar .nav-list {
    gap: 16px;
  }
}