.navbar {
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 0px 3rem;
}

.navbar .logo-cont {
  display: flex;
  margin-right: auto;
}

.navbar .navbar-logo-svg {
  width: 2.75em;
}

.navbar .navbar-logo-text {
  font-size: 2.25em;
}

.navbar-menu-icon {
  width: 1em;
}

.navbar .nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  min-width: 46rem;
  padding: 0px 10% 0px 0px;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.navbar .nav-list-home {
  margin: 0 auto;
  padding: 0;
}

.navbar .nav-link,
.navbar .nav-link:visited {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar .nav-link-active,
.navbar .nav-link span {
  position: relative;
  display: block;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.navbar .nav-link-active::after,
.navbar .nav-link .not-active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 150%;
  bottom: -4px;
  left: -4px;
  border-bottom: solid 2px white;
  transition: right 150ms ease-out;
}

.navbar .nav-link-active::after,
.navbar .nav-link:hover .not-active::after {
  right: -4px;
}

@media screen and (max-width: 1024px) {
  .navbar .logo-cont {
    margin-right: 12.5%;
  }
}