.navbar {
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  height: 5rem;
  padding: 0 2rem;
}

.logo-text {
  font-size: 1.5em;
  font-weight: 500;
  font-style: oblique;
  display: block;
  margin-right: auto;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  min-width: 40rem;
  padding: 0 5% 3px 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.nav-link,
.nav-link:visited {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.nav-link-active,
.nav-link span {
  position: relative;
  display: block;
}

.nav-link-active::after,
.nav-link .not-active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 150%;
  bottom: -4px;
  left: -4px;
  border-bottom: solid 2px white;
  transition: right 100ms ease-out;
}

.nav-link-active::after,
.nav-link:hover .not-active::after {
  right: -4px;
}