.profile {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: white;
  background: var(--pink2blue-lingrand);
  background-size: 200% 200%;
  animation: gradientBackground 20s ease infinite;
  letter-spacing: 0.03ch;
}

.profile .main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile .header {
  display: flex;
  align-items: center;
  padding: 0 6em;
}

.profile .username {
  flex: 0.5;
  font-size: 3.5em;
}

.profile .stats-list {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 8em;
  gap: 2em;
  background-color: var(--secondary-white);
  border-radius: 5px;
  padding: 1.2em 1.6em;
}

.profile .stats-list::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 8px;
  right: 3%;
  left: 3%;
  border-bottom: solid var(--light-blue) 3px;
}

.profile .stat-container {
  display: flex;
  gap: 0.4em;
  font-size: 1.4em;
  white-space: nowrap;
}

.profile .stat-label {
  font-weight: 600;
  font-style: oblique;
  color: var(--light-pink);
}

.profile .stat-data {
  color: var(--secondary-black);
}

.profile .games {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.profile .play-now-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.profile .play-now-header {
  font-size: 1.8em;
  font-weight: 400;
}

.profile .play-now-link {
  align-self: flex-end;
}

.profile .play-now-button {
  font-size: 1.25em;
  padding: 0.2em 1em;
  margin-right: 1em;
  color: var(--secondary-black);
  background-color: var(--secondary-white);
}

@media screen and (max-width: 1250px) {
  .profile .header {
    padding-right: 0;
    gap: 5em;
  }

  .profile .stats-list {
    flex-direction: column;
    gap: 0.5em;
    margin-left: auto;
    padding: 0.8em 1.4em;
  }

  .profile .stats-list::after {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .profile .header {
    justify-content: center;
    padding: 0;
  }

  .profile .stats-list {
    margin: 0;
  }
}
