.contact {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--primary-white);
  background: var(--pink2blue-lingrand);
  background-size: 200% 200%;
  animation: gradientBackground 20s ease infinite;
  letter-spacing: 0.03ch;
}

.contact .main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10vh;
}

.contact .other-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 7em;
}

.contact .other-link-button {
  background: transparent;
  border-radius: 100px;
  padding: 0;
  height: 3em;
  border: 0;
}

.contact .other-link .github-link {
  width: 4em;
}

.contact .form-cont {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  min-width: 40rem;
  max-width: 70rem;
  width: 70%;
  background-color: var(--primary-white);
  color: var(--secondary-black);
  border-radius: 10px;
  padding: 1.2em 2em;
  box-sizing: border-box;
}

.contact .form-header {
  display: flex;
  border-bottom: solid 3px var(--light-blue);
  margin-bottom: 0.8em;
}

.contact .header-logo {
  width: 2.5em;
}

.contact .header-text {
  color: var(--light-pink);
  font-size: 1.8em;
  font-weight: 600;
  margin: 0.4em 0;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact .form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.small-input-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.contact .input-cont {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  width: 100%;
  flex: 1;
}

.contact .input-label {
  font-size: 0.8em;
}

.contact .input-field {
  height: 2.5em;
  color: var(--secondary-black);
  background-color: var(--lighter-grey);
  border: 0;
  padding: 0.5em;
}

.contact .input-field:focus-visible {
  outline: var(--secondary-black) solid 1px;
}

.contact .input-text-area {
  height: 7em;
}

.contact .form-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.contact .success-message {
  font-size: 1.1em;
  color: var(--primary-white);
  margin: 0 auto;
}

.contact .form-footer .success-message {
  color: var(--secondary-black);
  margin: 0;
}

.contact .submit-button {
  font-size: 1.15em;
  margin-left: auto;
  padding: 0.25em 1.5em;
  background-color: var(--bright-pink);
  color: var(--primary-white);
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .contact .main {
    padding-bottom: 0;
  }

  .contact .form-cont {
    min-width: 30rem;
  }

  .contact .other-links {
    padding: 0;
    margin: 1em 4em 0;
  }

  .contact .small-input-cont {
    gap: 1em;
  }

  .contact .input-cont {
    min-width: 22rem;
  }
}

@media screen and (max-width: 320px) {
  .contact .other-links {
    margin: 0 2em 2em;
  }

  .contact .form-cont {
    min-width: 27.5rem;
    margin: 0 auto;
  }

  .contact .input-cont {
    min-width: 21rem;
  }
}
