.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0.75em;
  border: 0;
  border-radius: 100%;
}

.close-button:hover {
  background: rgba(214, 74, 128, 0.1);
}

.close-button .close-button-svg {
  stroke: var(--bright-pink);
  stroke: #ec6e9e;
  stroke-width: 10px;
  width: 1em;
}
