.home {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: white;
  background: linear-gradient(110deg, #e73c7e, #23a6d5);
  background-size: 200% 200%;
  animation: gradientBackground 20s ease infinite;
}

.home .main {
  display: flex;
  flex: 1;
  padding: 2rem 4rem;
  gap: 2rem;
}

.home .logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 6rem;
}

.home .intro-video {
  border: solid 2px white;
  width: 110%;
  margin-top: 4rem;
}

.home .intro {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.home .intro-article {
  font-size: 1.3em;
  width: 80%;
}



